.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.display {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.875rem;
  font-weight: bold;
  height: calc(500px - 20vw);
  width: 65vw;
  padding: 2.5rem;
  overflow-wrap: anywhere;
}

.input {
  width: 50vw;
  min-width: 250px;
  justify-content: center;
}

.input-length-indicator {
  white-space: nowrap;
  font-size: 0.875rem;
  font-style: italic;
}

.input-length-indicator.error {
  color: red;
}

.metadata {
  justify-content: center;
}

.metadata-label {
  font-size: 0.65rem;
  font-weight: bold;
  color: darkgrey;
}

.metadata-content {
  font-size: 0.75rem;
  color: grey;
}

.footer {
  position: absolute;
  bottom: 3vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  text-align: center;
}
